/* .background {
    background-image: url('../images/background-brick-name.png');
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
    position: absolute;
    background-position: top;
    margin: 0;
    padding: 0
} */


body {
    margin: 0;
}
